@page "/"

<h1>Welcome</h1>

This sample project offers a small example of working with CQRS in a CRUD style application.

<br /><br />

It's primary focus is on showing code which exists as more units but each one is smaller and more specialised. 